In [1]:
#Dependencies
import numpy as np
import pandas as pd
import datetime as dt
import plotly.express as px
import plotly.subplots as ps
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
#Read Excel file
df = pd.read_excel('./Resources/The_Numbers_Data.xlsx')

#create df
act_df = df.loc[1590:1712]

#Labels for columns
act_df.rename(columns={'The Numbers - Where Data and Movies Meet':'Person',
                          'Unnamed: 1':'Number_of_Movies', 'Unnamed: 2':'Role','Unnamed: 3':'Franchise_Box_Office',
                            'Unnamed: 4':'Career_Box_Office','Unnamed: 5':'Career/Franchise'}, inplace = True)

act_df.head()

c:\Users\Kevin McConchie\anaconda3\envs\bootcamp\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Person,Number_of_Movies,Role,Franchise_Box_Office,Career_Box_Office,Career/Franchise
1590,Samuel L. Jackson,12,Nick Fury,12755818534,27774380735,0.459
1591,"Robert Downey, Jr.",11,Tony Stark/Iron Man,12850724774,15725830539,0.817
1592,Chris Evans,9,Steve Rogers / Captain America,11513253757,13753699045,0.837
1593,Chris Hemsworth,8,Thor,10458848692,12447713879,0.84
1594,Scarlett Johansson,8,Natasha Romanoff/Black Widow,10620717694,15384676705,0.69